<%= image_tag(user_profile(comment.user) , style: "width:3vw; border-radius:50px")%>
<%= comment.body%>
<% if comment.parent_id.nil?%>
    <div class = "actions">
        <span class = "glyphicon glyphicon-share-alt" onclick = "reply(<%= comment.id %>)"></span>
        <% if c_user.id == comment.user_id%>
            <%= link_to " ", comment_path(comment), method: :delete, data:{confirm: "Are you sure!"} ,  class:"glyphicon glyphicon-trash"%>
        <% end %>
    </div>
<% end %>
<p class = "timeLine"><%= comment.created_at.strftime("%B %e - %I:%M %p")%></p> 
<% unless comment.replies.empty?  %>
    <div class = "reply" id= "comment-<%= comment.id%>">
        <% comment.replies.each do |reply|%>
            <%= image_tag(user_profile(reply.user) , style: "width:1vw; border-radius:50px", class: "img-circle")%>
            <%= reply.body %><hr>
        <% end %>
    </div>
<% end %>
