= form_for @verification do |f|
  - if @verification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@verification.errors.count, "error")} prohibited this verification from being saved:"
      %ul
        - @verification.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :check1
    = f.check_box :check1
  .field
    = f.label :check2
    = f.check_box :check2
  .field
    = f.label :remarks
    = f.text_field :remarks
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :case_id
    = f.number_field :case_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
