<%= form_for @verification do |f| %>
  <% if @verification.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@verification.errors.count, "error")} prohibited this verification from being saved:" %>
      </h2>
      <ul>
        <% @verification.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :check1 %>
    <%= f.check_box :check1 %>
  </div>
  <div class="field">
    <%= f.label :check2 %>
    <%= f.check_box :check2 %>
  </div>
  <div class="field">
    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>
  <div class="field">
    <%= f.label :Attachments %>
    <%= f.file_field :files, multiple: true, label: "Attachments" %>
  </div>
  <div class="field">
    <%= f.hidden_field :case_id, value: case_id  %>
  </div>
  <div class="actions">
    <%= f.submit 'Save',onclick: "validateform();" ,id: "submit"%>
  </div>
<% end %>

<script>

</script>
