%p#notice= notice

%p
  %b Check1:
  = @verification.check1
%p
  %b Check2:
  = @verification.check2
%p
  %b Remarks:
  = @verification.remarks

= link_to 'Edit', edit_verification_path(@verification)
\|
= link_to 'Back', verifications_path
