<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Remarks:</b>
  <%= @verification.remarks %>
</p>
<p>
  <b>Amount:</b>
  <%= @verification.amount %>
</p>
  <p>Attachments:</p>
  <ol>
    <% @verification.files.each do |f| %>
      <li>
        <%= link_to f.filename, f, download: "" %>
      </li>
    <% end %>
  </ol>
<div>
  <%= render partial: 'verification_comment' %>
</div>
<%= link_to 'Edit', edit_verification_path(@verification) %>

<%= link_to 'Back', verifications_path %>
