<p id="notice">
  <%= notice %>
</p>
<h3 class = "text-center text-primary">Verification Details</h3>
<div class = "well titles">
  <span>Proposer: </span><%= User.find(@verification.user_id).username%><br>
  <span>Remarks: </span><%= @verification.remarks%><br>
  <span>Proposed Amount: </span><%= @verification.amount%><br>
  <h3>Attachments:</h3>
  <ol>
    <% @verification.files.each do |f| %>
      <li>
        <%= link_to f.filename, f, download: "" %>
      </li>
    <% end %>
  </ol>

</div>
<%= render partial: 'verification_comment' %>
