.well
    = simple_form_for @case, html: { multipart: true } do |f|
        = f.select :category_id, @categories, include_blank: true, prompt: "Select category" 
        = f.input :verifierPreference, label: "Verifier Preference"
        = f.input :name, label: "Person Name"
        = f.input :contact, label: "Contact"
        = f.input :address, label: "Address"
        = f.input :cnic, label: "CNIC"
        = f.input :description, label: "Case Details"
        = f.file_field :files, multiple: true, label: "Attachments"
        %br/
        = f.button :submit
