<div class="well">
  <h2 class = "text-center text-primary">All Cases</h2>
  <table id="caseTable" class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Title</th>    
        <th>Status</th>
        <th>Submission Date</th>
        <th>Verification</th>
        <th>Actions</th>           
      </tr>
    </thead>
    <tbody>
      <% @cases.each_with_index do |c,i| %>
        <% if !c.proposed? || is_admin %>

        <tr>
          <td><%=i+1%></td>
          <td><%=c.title%></td>
          <td><%=c.status.capitalize%></td>
          <td><%=c.created_at%></td>
          <td><% if is_verifier && !is_opted(current_user.id, c.id) && c.approved?%> 
                <%= form_for @opt ,method: :post do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :case_id, value: c.id %>
                <%= f.submit "Opt In" , class: "btn btn-primary"%>
                <% end %>
                <% elsif is_opted(current_user.id, c.id) %>
                <span style = "font-size:1.2em;font-weight:bolder" class = "text-danger">Case Opted </span>
              <% end %>
          </td> 
          <td class = "btn-group">
            <%= link_to "Show", case_path(c), class: "btn btn-info"%>
            <% if current_user.id == c.user_id %>
              <% if c.proposed? %>
                <%= link_to "Edit", edit_case_path(c), class: "btn btn-success"%>
              <% end %>
              <%= link_to "Delete", case_path(c), method: :delete, data: { confirm: "You Sure?"}, class: "btn btn-danger"%>
            <% end %>
          </td>     
        </tr>

        <% end %>

      <% end %>
    </tbody>
  </table>
</div>