<div class="well">
  <h3 style="text-align:center">All Cases</h3>
  <table id="caseTable" class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Title</th>    
        <th>Status</th>
        <th>Submission Date</th>
        <th>Verification</th>
        <th>Actions</th>           
      </tr>
    </thead>
    <tbody>
      <% @cases.each_with_index do |c,i| %>
        <tr>
          <td><%=i+1%></td>
          <td><%=c.title%></td>
          <td><%=c.status.capitalize%></td>
          <td><%=c.created_at%></td>
          <td><% if is_verifier && !is_opted(current_user.id, c.id)%> 
                <%= form_for @opt ,method: :post do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :case_id, value: c.id %>
                <%= f.submit "Opt In"%>
                <% end %>
                <% elsif is_opted(current_user.id, c.id) %>
                <span style = "font-size:1.2em;font-weight:bolder">Case Opted </span>
              <% end %>
          </td> 
          <td>  <button><%= link_to "Show", case_path(c)%></button> <% if current_user.id == c.user_id %> <button><%= link_to "Edit", edit_case_path(c)%></button> <button><%= link_to "Delete", case_path(c), method: :delete, data: { confirm: "You Sure?"}%></button> <% end %>
              <button><%= link_to "Comment", add_comment_path(c)%></button>
          </td>     
        </tr>
      <% end %>
    </tbody>
  </table>
</div>