<h1 class = "text-primary text-center">Case Details</h1>
<div style="text-align:center">
  <% if validateable(current_user.id, @case.id)%> 
    <%= link_to "Add Verification", add_verification_path, class: "btn btn-warning"%>
  <% end %>
</div>
  <br/>

<div class="well titles">
  <span>Verifier Preference(Hint): </span><%= @case.verifierPreference %><br>
  <span>Title: </span><%= @case.title  %><br>
  <span>Status: </span><%= @case.status  %><br>
  <span>Category: </span><%= @case.category.name %><br>
  <span>Description: </span><%= @case.description %><br>
  <% if is_opted(current_user.id, @case.id)%>
  <div class = "personalData">
    <span>Full Name: </span><%= @case.name %><br>
    <span>Contact: </span><%= @case.contact %><br>
    <span>Address: </span><%= @case.address %><br>
    <span>CNIC: </span><%= @case.cnic %><br>
    <span>Attachments: </span>
    <% if @case.files.empty? %>
      <p>No Attachments Available.</p>
    <% end %>
    <ol>
      <% @case.files.each do |file| %>
        <li>
          <%= link_to file.filename, file, download: "" %>
        </li>
      <% end %>
    </ol>
  </div>
  <span>Verifications:</span>
  <div class="well verifications">
  <% if @case.verifications.empty? %>
    <h5>No Verifications Available!</h5>
  <% end %>
  <% @case.verifications.each_with_index do |v,index| %>
  <span><%= index+1 %>-</span>
  <span><%= v.user.email %> (<%= v.created_at.strftime("%d-%m-%Y - %M:%H %p") %>)</span>
  <%= link_to "Open", verification_path(v), class: "btn btn-info"%>
  <% end %>
  </div>
  <% end %>
  <br/>
  <br/>
</div>
<div>
  <%= render 'comment'%>
</div>