<h1 style = "text-align:center">Case Details</h1>
<div style="text-align:center">
  <% if @case.user_id != current_user.id && (current_user.has_role?(:verifier, Organization.find(@case.organization_id)) || current_user.has_role?(:admin, Organization.find(@case.organization_id)))%> 
  <button> <%= link_to "Add Verification", add_verification_path%></button>
  <% end %>
</div>
  <br/>

<div class="well">
  <h3>Verifier Preference (Hint) </h3>
  <%= @case.verifierPreference %>
  <h3>Title:</h3>
  <%= @case.title  %>
  <h3>Status</h3>
  <%= @case.status  %>
  <h3>Category:</h3>
  <%= @case.category.name %>
  <h3>Full Name:</h3>
  <%= @case.name %>
  <h3>Contact: </h3>
  <%= @case.contact %>
  <h3>Address: </h3>
  <%= @case.address %>
  <h3>CNIC: </h3>
  <%= @case.cnic %>
  <h3>Description: </h3>
  <%= @case.description %>
  <h3>Attachments: </h3>
  <% if @case.files.empty? %>
    <p>No Attachments Available.</p>
  <% end %>
  <ol>
    <% @case.files.each do |file| %>
      <li>
        <%= link_to file.filename, file, download: "" %>
      </li>
    <% end %>
  </ol>
  <h3>Verifications:</h3>
  <div class="well">
  <% if @case.verifications.empty? %>
    <p>No Verifications Available.</p>
  <% end %>
  <% @case.verifications.each_with_index do |v,index| %>
  <span><%= index+1 %>-</span>
  <span>Verifier: <%= v.user.email %></span>
  <br>
  <span>Created At: <%= v.created_at.strftime("%Y-%m-%d") %></span>
  <br>
  <Button><%= link_to "Open", verification_path(v)%></Button>
  <% end %>
  </div>
  <br/>
  <br/>
</div>
