<div class="well">
  <h3 style= "text-align:center">Add User</h3>
  <%= simple_form_for @user do |f| %>
  <%= f.input :email, placeholder: "user@organization.com" %>
  <%= f.input :username, placeholder: "Jon Doe" %>
  <%= label_tag "Role: " %>
  <br>
  <%= radio_button_tag 'user[role]', "user" %>
  <%= label_tag("User") %>
  <%= radio_button_tag 'user[role]',"verifier"%>
  <%= label_tag( "Verifier") %>
  <%= f.button :submit %>
  <% end %>
</div>
