<div class="well">
  <h2 class = "text-primary text-center ">Add User</h2>
  <%= simple_form_for @user do |f| %>
  <%= f.input :email, placeholder: "user@organization.com", required: true %>
  <%= f.input :username, placeholder: "Jon Doe",required: true %>
  <%= label_tag "Role: " %>
  <br>
  <%= radio_button_tag 'user[role]', "user", selected:true %>
  <%= label_tag("User") %>
  <%= radio_button_tag 'user[role]',"verifier"%>
  <%= label_tag( "Verifier") %>
  <br>
  <br>

  <%= f.button :submit , class: "btn-primary"%>
  <% end %>
</div>
