<div class = "text-center">
  <%= link_to "Add Case", new_case_path ,class: "btn btn-default"%>
</div>
<br>
<div class="well">
  <h2 class="text-center text-primary">All Cases</h2>
  <table id="caseTable" class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Title</th>    
        <th>Status</th>
        <th>SubmissionDate</th>  
        <th>Actions</th>   
        <th>Status</th>            
      </tr>
    </thead>
    <tbody>
      <% @cases.each_with_index do |c,i| %>
        <tr>
          <td><%=i+1%></td>
          <td><%=c.title%></td>
          <td><%=c.status.capitalize%></td>
          <td><%=c.created_at.to_date%></td>
          <td class = "btn-group ">
            <%= link_to "Show", case_path(c) ,class: "btn btn-info"%>
            <% if c.proposed? %>
              <%= link_to "Edit", edit_case_path(c), class: "btn btn-success" %>
            <%end%>
            <%= link_to "Comment", add_comment_path(c), class: "btn btn-default"%>
            <%= link_to "Delete", case_path(c), method: :delete, data: { confirm: "You Sure?"}, class: "btn btn-danger  " %>
          </td>          
          <td>
          <% if c.verifications.length != 0 %>
          <%= form_tag(case_path(c), method: "put") do %>
            <%= select_tag "status", options_for_select(Case.statuses.map {|k, _| [k.humanize.capitalize, k]}), class: "input input-sm" %> 
            <%= submit_tag "Update", data: { confirm: "You Sure?"}, class: "btn btn-primary"%>
          <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>