<% if is_admin %>
  <%= render 'add_user'%>
<% end %>
<br>
<div class="well">
  <h2 class = "text-primary text-center">All Users</h2>
    <table id="userTable" class="table table-hover">
      <thead>
        <tr>
          <th> Index</th>              
          <th> Username</th>    
          <th> Email</th>
          <th> Role</th>
          <th> Joining Date</th>
          <th> Actions</th> 
          <th> Change Role</th>   
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |u,i| %>
          <tr>
          <td><%= i+1 %></td>
            <td><%= u.username %></td>
            <td><%= u.email%></td>
            <td><%= u.roles.first.name.capitalize%></td>
            <td><%= u.created_at%></td>
            <td  class = "btn-group">
              <%= link_to "Show", user_path(u), class: "btn btn-info"%>
              <%= link_to "Delete", user_path(u), method: :delete, data: { confirm: "You Sure?"}, class:"btn btn-danger"%>
            </td>
            <td>
            <%= form_tag(user_path(u), method: "put") do %>
              <%= select_tag "role", options_for_select(@options), class: "input input-sm" %> 
            <%= submit_tag "Update", class: "btn btn-primary" %>
          <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


