.well
    = simple_form_for @user do |f|
        = f.input :email, label: "Email Address"
        = f.button :submit
.well
    %h2 All Users
    - @users.each do |i|
        %h2= link_to i.email, user_path(i)
        %button Edit
        %button= link_to "Delete",  user_path(i), method: :delete, data: { confirm: "You Sure?"}