.well
    = form_for @org do |f|
        = f.text_field :title, label: "Company Title"
        = f.fields_for :users do |u|
            = u.text_field :email, label: "Admin Email"
        = f.button :submit
